<ion-header>
  <ion-toolbar>
    <ion-title>Food Detalle</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/tab3">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid >
    <ion-row>
      <ion-col sizeMd="4" offsetMd="4">
        <div *ngIf ="character" >
          <ion-card>
            <ion-card-content class="ion-text-center">
              <img  src="https://img.freepik.com/vector-premium/sonriente-personaje-dibujos-animados-chef_8250-10.jpg?w=2000" width="200px"  alt="">
              <ion-card-title>
                {{character.local.nombre}}
              </ion-card-title>
              <p>{{character.local.direccion}}</p>  
              <p>{{character.local.ciudad}}</p>  
              <p>{{character.local.descripcion}}</p> 
              <p>Fono: +{{character.local.fono}}</p>  
              <p>Email: {{character.local.mail}}</p>   
              <ion-button fill="outline" [routerLink]="['../../maplocal/' + character.local.lat +'/'+ character.local.lng +'/'+ character.local.nombre]">
                <ion-icon slot="end" name="earth"></ion-icon>
                Ubicación en Maps
              </ion-button>                                    
            </ion-card-content>
          </ion-card>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>