

ion-toolbar{
    --ion-background-color: #241dc5;
    color: azure;  
}

ion-badge {
    --background: #241dc5;
    --color: white;
    --padding-end: 20px;
    --padding-start: 20px;
  }


ion-card.medicos-principal{  
    margin-left: 20px;
    align-content: center;
    width: 90%;
    height: 50%;    
    font-size: 10px;
    align-items: center;
   
    
         
    
}
ion-item{
    font-size: 13px;
    font-style:normal;
}


.imagen{
    
    margin-top: 100px;   
    object-fit: cover;      
    width: 95%;
    height: 60%;   
    text-align: center; 
    position:absolute;     
    border-radius: 40px 40px 0px 0px ;   
        
}



.item-avatar  {
    width:50px !important;  
    height : 50px !important;  
    max-width: 100px !important;  //any size
    max-height: 100px !important; //any size 
} 