ion-card.principal{
  color: black;
  border-radius: 40px 40px 0 0px; 
  
}

ion-fab{  
  margin-top: 150px;
  margin-left: 20px;   
}

ion-fab-button::part(native) {
  background-color: #241dc5;
  border-radius: 50px;
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,.3), 0px 1px 3px 1px rgba(0,0,0,.15);
  color: #ffffff;
}
    
ion-fab-button::part(native):hover::after {
  background-color: #241dc5;
}

ion-fab-button::part(native):active::after {
  background-color: #241dc5;
}


h5{
  color: #ffffff;
  font-size: 12px;
}


ion-label{  
  margin-left: 2px;
  font-size: 12px;
}

img.imagen{
  width: 100%;
  height: 220px;
  object-fit: cover;    
}

ion-card.disco{
    width: 100%;
    height: 250px;
    box-shadow: none;
    background-color: #241dc5;
    border-radius: 40px 40px 40px 40px;
    justify-content: center;
    background-size: cover;
    //border-radius: 12px;
  
          img{
            margin-right: 2px;
            margin-left: 2px;
            object-fit: cover;
            width: 100%;
            height: 180px;
            transform: scale(1.1, 1.1) rotate(1deg);
            transition: 600ms;
          }
  }
  
  
  .swiper-slide-active{
    transform: 1.05, 1.05;
    
    
    ion-card.disco{
      img{
        transform: scale(1, 1);       
  
      }
    }  
  }
  
  .swiper-slide{
    transition: 400ms all ease-in-out;    
  }


  ion-card-content{
    color:#000000;
    font-size: 12px;
  }

ion-card.inicio{
    text-align: center;
    color: aliceblue;    
    border:3px solid white;      
    background-image: linear-gradient(to top, #0f0351 0%, #005bea 100%);
}

ion-card.disco{  
    align-items: center;  
    justify-content: center;
    text-align: center;    
    border:2px solid darkblue;   
    
}


ion-card-title{
    color:black;
    font-size: 15px;
}

ion-card-subtitle{
    color: #ffffff;
    font-size: 12px;
}









