.principal{
    
    width: 95%;
    height: 40%;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 5px;
    border-radius: 5%;
    
}

ion-card{
    background-color: rgb(4, 4, 51);
    color: antiquewhite;
    
}
ion-content{
    background-color: black;
    color: blanchedalmond;
}

ion-card-title{
    color: blanchedalmond;
}
