<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home-CeliakOS
    </ion-title>    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

 
  <ion-card>
    <ion-card-header>
      
      <ion-card-title>CeliakOS App</ion-card-title>
            
    </ion-card-header>
    
  
    <ion-card-content>
       
     Bienvenidos a nuestra App de ayuda a todos aquellos que han sido
     diagnosticados con esta condicion.  
       
    </ion-card-content>    
  </ion-card>
  
  
  
  <ion-card>
    <ion-item href="tabs/tab2" class="ion-activated" >
      <ion-icon name="information-circle-outline" slot="start"></ion-icon>
      <ion-label>Información</ion-label>
    </ion-item>
  
    <ion-item  href="tabs/tab3" class="ion-activated">
      <ion-icon name="fast-food-outline" slot="start"></ion-icon>
      <ion-label>Comidas</ion-label>
    </ion-item>
  
    <ion-item href="tabs/tab4" class="ion-activated">
      <ion-icon name="person-outline" slot="start"></ion-icon>
      <ion-label>Medicos</ion-label>
    </ion-item>
  
    <ion-item href="tabs/tab5" class="ion-activated" >
      <ion-icon name="cart-outline" slot="start"></ion-icon>
      <ion-label>Market</ion-label>
    </ion-item>
  </ion-card>
</ion-content>
