<ion-header>
  <ion-toolbar>
    <ion-title>Detalle Info</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/tab4">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>  
        <div *ngIf ="character" >
          <ion-card>
            <ion-card-content class="ion-text-center">
              
              <ion-card-title>
                {{character.res.titulo_info}}
              </ion-card-title>
              <p>{{character.res.seccion_info}}</p><br>  
              <p>{{character.res.detalle_info}}</p><br>             
            </ion-card-content>
          </ion-card>
        </div>      
</ion-content>
